.story_post{
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 20%;


}
.main{
  width: 100%;
  height: 20vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;


}
.list {
  display: flex;
  padding-top: 25px;
  overflow-x: scroll;
  scrollbar-width: none;
}  
.item {
  white-space: nowrap; /* Prevent content from wrapping */
 font-size: 11px;
 margin: 0;
  height: 70px;
  width: 50px;
  flex-shrink: 0;
} 



/* 
  The styling below is only for the decoration of this demo, 
  it has no impact on scrolling or scroll behavior
*/
/* .list {
  display: flex;
  flex-direction: column;
  list-style: none;
  border: 5px solid #fff;
  background-color: #181818;
  padding: 20px;
  border-radius: 12px;
} */
.story_profile{
  width: 60px;
  height: 60px;
  border-radius: 50%;
  object-fit: cover;
}
/* .item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  border-radius: 8px;
  font-size: 22px;
  text-shadow: 0 2px 1px rgba(0, 0, 0, 0.4);
  box-shadow: 0 2px 1px rgba(0, 0, 0, 1);
} */
.viewport {
  max-width: 100%;
  width: calc(100% - 20px);
 

}
.item{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .story_post{
    width: 76%;
    margin-left: 15%;
  
  
  }
}

@media only screen and (max-width: 600px) {
  .main{
    width: 100%;
    height: 10vh;
    top: 80px;
    margin-top: 55px;
    z-index: 2;
  }
  .story_post{
    width: 100%;
    margin-left: 0;
  }
  .item {
    padding: 10% 0%;
    height: 70px;
    width: 80px;
  
   
  } 
  .viewport {
    max-width: 100%;
    width: calc(100% - 20px);
    margin-left: 0;
    margin-right: 0;
  }
  .story_profile{
    width: 70px;
    height: 70px;

  }
}