.navbar{
    display: flex;
    justify-content: space-around;
    box-shadow: 1px 5px 5px #ededed;
}
ul{
    display: flex;
}
li{
    list-style: none;
    padding:1px 15px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 18px;
}
@media only screen and (max-width: 600px) {
    .logo{
        width: 30%;
    }
    li{
        list-style: none;
        padding:1px 5px;
    }
  }